{% extends "_base.html" %}

{% block content %}

<h1>
Welcome to {{org.name}}
</h1>
<div>
<h2>
    {{ user_name|capfirst }} this is your dashboard, where you will find your organization other members. You can communicate with them, share files and stay in the loop via email notification.  
</h2>
</div>
<h3>Register clients:</h3>
<a href="{%url 'account:addClients'%}">
    Add clients
</a>

<h3>
    Your Clients:
</h3>
{%if clients%}
<ul>
    {% for tc in clients %}
    <li>
        {{tc.email}} - {{tc.firstName}} - {{tc.role}} - {{tc.organization.name}}
    </li>
    {% endfor %}
</ul>
{%else%}
<p>
    No clients found for your organization.
</p>
{% endif %}
{% endblock content %}